.modal-header {
    background-color: #13375b;
    border: none;
}

.box-aviso {
    text-align: center;
    background-color: #13375b;
    color: #ffffff;
    padding: 50px;
    font-family: 'Quicksand', sans-serif;
}

.icone-suporte {
    width: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-saber-mais {
    margin-top: 5px;
    margin-bottom: 20px;
}

.box-notificado {
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttom-saber-mais {
    width: 160px;
    font-size: 8pt;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: #13375b;
    color: #ffffff;
    margin-left: 25px;
}

.buttom-notificado{
    width: 160px;
    font-size: 8pt;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #13375b;
    font-weight: bold;
}

.img-suporte-aviso{
    margin-top: 10px;
    width: 20%;
}

.img-logo-aviso{
    margin-bottom: 15px;
}
